@charset "UTF-8";

@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@mixin backSky {
	//배경
	.backSky {
		width: 100%;
		height: 100%;
		// background: linear-gradient(to right, #111, #0e0f19);  
		overflow: hidden;

		/* 별을 감싼 부모 */
		.sky {
			width: 100vw;
			height: 100vw;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: moveStar 240s linear infinite;
			

			.star {
				fill: #fff;
				stroke: none;
				stroke-width: 0;
			}

			/* 별 이동효과 */
			@keyframes moveStar {
				from {
				transform: translate(-50%, -50%) rotate(-20deg)
				}
			
				to {
				transform: translate(-50%, -50%) rotate(20deg)
				}
			}
		}

		// 우주선
		.spaceship {
			position: fixed;
			bottom: -100px;
			left: 850px;
			width: 300px;
		}

		// UFO
		.UFO {
			position: fixed;
			top: 210px;
			width: 280px;
			left: 450px;
			transform: rotate(-10deg);
		}

		//alien 
		.alien {
			position: fixed;
			top: 0;
			left: 0;
			width: 100px;
			transform: rotate(90deg);
		}
	}
}


@mixin project_left {
	width: 620px;

}

@mixin skill_box {

	.skill_box {
		width: 100%;
		display: flex;
		align-items: center;

		.skill {
			padding: 3px 8px;
			border-radius: 9px;
			background-color: #fff;
			color: black;
			margin: 4px 7px 0 0;
			text-transform: uppercase;
		}
	}
}

@mixin main_info {
	.main_info {
		width: 100%;
		padding: 48px 0 10px 0;
		display: flex;
		flex-direction: column;

		.info {
			font-size: 19px;
			color: #fff;
		}

	}
}

@mixin sub_info {

	.sub_info {
		width: 100%;
		padding: 8px 0;
		display: flex;
		flex-direction: column;

		.Sinfo {
			font-size: 15px;
			color: #fff;
		}
	}
}

@mixin btn_box {
	.main_btn_box {
		display: flex;
		position: absolute;
		bottom: -15px;
		right: 63px;

		.btn_left {
			padding: 8px 26px;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 1px;
			border: none;
			border-radius: 20px;
			background-color: rgb(0, 255, 148);
			margin-right: 8px;
			cursor: pointer;
			color: #0e0f19;

			&:hover {
				color: black;
				background-color: #f1f1f1;
			}
		}

		.btn_right {
			padding: 8px 26px;
			font-size: 12px;
			font-weight: 600;
			letter-spacing: 1px;
			border: none;
			border-radius: 20px;
			background-color: rgb(0, 26, 255);
			margin-right: 8px;
			cursor: pointer;
			color: #fff;

			&:hover {
				color: black;
				background-color: #f1f1f1;
			}
		}
	}
}

@mixin project_wrap {
	.project_wrap {
		display: flex;
		padding: 30px;
		border: 0.1rem solid rgb(0, 255, 148);
		border-radius: 30px;
	}
}

@mixin project_title_right {

	.project_title_right {
		color: rgb(255, 255, 255);
		background-color: rgb(0, 26, 255);
		border: 0.1rem solid rgb(0, 26, 255);
		right: -3rem;
		transform: rotate(10deg);
		font-weight: 800;
		position: absolute;
		border-radius: 2rem;
		top: -2.5rem;
		padding: 1rem;
	}
}

@mixin project_title_left {

	.project_title_left {
		color: rgb(0, 0, 0);
		background-color: rgb(0, 255, 148);
		border: 0.1rem solid rgb(0, 255, 148);
		left: -3rem;
		transform: rotate(-10deg);
		font-weight: 800;
		position: absolute;
		border-radius: 2rem;
		top: -2rem;
		padding: 1rem;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "HallymGothic-Regular";
	
}

li, ul , ol {
	list-style: none;
}

#wrap {
	width: 100%;
	height: 10000px;
	// background-color: #000;
	background: rgb(14,15,25);
	background: linear-gradient(0deg, rgba(14,15,25,1) 0%, rgba(30,7,64,1) 47%, rgba(27,6,60,1) 70%, rgba(101,32,14,1) 97%, rgba(97,26,7,1) 100%);
	position: relative;
	overflow: hidden;

	@include backSky;


	.intro {
		width: 100%;
		height: 1000px;
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;



		
		h1 {
			text-align: center;
			font-size: 5rem;
			color: #f1f1f1;
			position: absolute;
			left: 50%;
			top: 50%;
			font-family: 'Orbitron', sans-serif;
			font-weight: 300;
			transform: skew(var(--skew)) scale(var(--scale)) translate(-50%, -50%);

			&::before, &::after {
				content: attr(main_text);
				position: absolute;
				width: 100%;
				transition: clip-path 50ms ease-in;
			}

			&::before {
				left: 5px;
				text-shadow: 2px -2px #2a96d4;
				clip-path: polygon(
					0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1));
			}

			&::after {
				left: -5px;
				text-shadow: -2px 2px #cc2a1f;
				clip-path: polygon(
					0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2));
			}
		}

		h3 {
			text-transform: uppercase;
			position: absolute;
			top: 58%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
		}

		.earth {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.section01 {
		width: 100%;
		height: 1000px;
		padding: 8rem 8rem 20rem;
		position: absolute;
		bottom: 1500px;

		.section01_title {
			width: 100%;

			h1 {
				text-align: center;
				font-size: 3rem;
				color: #fff;
				padding-bottom: 90px;
			}
		}


		.skills_wrap {
			width: 1400px;
			margin: 0 auto;
			display: flex;

			.skills_box {
				width: 50%;
				border: 0.2rem solid rgb(0, 173, 181);
				border-radius: 2rem;
				margin: 2rem;
				padding: 2rem;
				position: relative;

				.skills_title {
					transform: rotate(-10deg);
					position: absolute;
					left: -2rem;
					top: -2rem;
					border: 0.2rem solid rgb(238, 238, 238);
					color: rgb(0, 173, 181);
					background-color: rgb(34, 40, 49);
					padding: 0.5rem 1rem;
					font-size: 1.4rem;
					font-weight: 800;
				}
	
				.skills_txt {
					line-height: 2rem;
					color: #fff;
				}
			}
		}

		

	}

	.section02 {
		width: 100%;
		height: 3000px;
		padding: 8rem 8rem 20rem;
		position: absolute;
		bottom: 3500px;

		.project01 {
			display: flex;
			align-items: center;
			width: 100%;
			height: 500px;
			justify-content: flex-end;
			margin-top: 350px;

			.project_wrap {
				width: 1300px;
				display: flex;
				justify-content: space-around;
				padding: 30px;
				border: 0.1rem solid rgb(0, 26, 255);
				background-color: #0e0f19;
				border-radius: 30px;
				position: relative;
			
				@include project_title_right;
			

				.left_box {
					@include skill_box;
					@include main_info;
					@include sub_info;
					@include btn_box;
				}
	
				.rigth_box {
					
					.project_img_box1 {
						width: 600px;
						height: 320px;
						overflow: hidden;
						border-radius: 20px 20px 0 0;
						box-shadow: 1px 1px 10px rgb(0 0 0 / 26%);
				
						img {
							width: 100%;
						}
					}
	
				}
			}

			
		}

		.project02 {
			display: flex;
			align-items: center;
			width: 100%;
			height: 500px;
			margin-top: 350px;

			.project_wrap {
				width: 1300px;
				display: flex;
				justify-content: space-around;
				padding: 30px;
				border: 0.1rem solid rgb(0, 255, 148);
				background-color: #0e0f19;
				border-radius: 30px;
				position: relative;

				@include project_title_left;


				.left_box {
					@include project_left;
					@include skill_box;
					@include main_info;
					@include sub_info;
					@include btn_box;
				}
	
				.rigth_box {
					
					.project_img_box2 {
						width: 600px;
						height: 320px;
						overflow: hidden;
						border-radius: 20px 20px 0 0;
						box-shadow: 1px 1px 10px rgb(0 0 0 / 26%);
				
						img {
							width: 100%;
						}
					}
	
				}
			}

		}

		.project03 {

			display: flex;
			align-items: center;
			width: 100%;
			height: 500px;
			justify-content: flex-end;
			margin-top: 350px;

			.project_wrap {
				width: 1300px;
				display: flex;
				justify-content: space-around;
				padding: 30px;
				border: 0.1rem solid rgb(0, 26, 255);
				background-color: #0e0f19;
				border-radius: 30px;
				position: relative;

				@include project_title_right;

				
				.left_box {
					@include skill_box;
					@include main_info;
					@include sub_info;
					@include btn_box;
				}
	
				.rigth_box {
					
					.project_img_box3 {
						width: 600px;
						height: 320px;
						overflow: hidden;
						border-radius: 20px 20px 0 0;
						box-shadow: 1px 1px 10px rgb(0 0 0 / 26%);
				
						img {
							width: 100%;
						}
					}
	
				}
			}

		}

		.project04 {
			display: flex;
			align-items: center;
			width: 100%;
			height: 500px;
			margin-top: 350px;

			.project_wrap {
				width: 1300px;
				display: flex;
				justify-content: space-around;
				padding: 30px;
				border: 0.1rem solid rgb(0, 255, 148);
				background-color: #0e0f19;
				border-radius: 30px;
				position: relative;

				@include project_title_left;

				.left_box {
					@include project_left;
					@include skill_box;
					@include main_info;
					@include sub_info;
					@include btn_box;
				}
	
				.rigth_box {
					
					.project_img_box4 {
						width: 600px;
						height: 320px;
						overflow: hidden;
						border-radius: 20px 20px 0 0;
						box-shadow: 1px 1px 10px rgb(0 0 0 / 26%);
				
						img {
							width: 100%;
						}
					}
	
				}
			}

		}

	}

	.section03 {
		width: 100%;
		height: 1000px;
		padding: 8rem 8rem 20rem;
		position: absolute;
		bottom: 6500px;

		.profile_wrap {
			width: 1250px;
			margin: 0 auto;
			border: 3px solid #fff;
			padding: 40px 60px;
			border-radius: 30px;
			background-color: #0e0f19;
			

			.profile_top {
				display: flex;
				justify-content: space-between;
				height: 256px;

				.picture {
					width: 300px;
					height: 100%;
					position: relative;

					img {
						width: 190px;
						height: 256px;
						border-radius: 20px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}

				.profile_info {
					width: 800px;
					height: 100%;
					color: #fff;

					
					i {
						font-size: 14px;
					}

					.info_name {

						h2 {
							letter-spacing: 23px;
							line-height: 45px;
							font-size: 30px;
							margin-bottom: 5px;
						}

						p {
							margin-bottom: 30px;
						}
					}

					.info_txt1_box {
						display: flex;
						width: 100%;

						.info_txt1 {
							margin-right: 30px;
						}
					}

					.career {
						margin-top: 30px;

						.carrer_txt {
							line-height: 27px;
						}
					}
				}
			}

			.profile_bottom {
				width: 100%;
				margin-top: 50px;
				text-align: center;

				p {
					line-height: 33px;
					color: #f1f1f1;
					font-size: 20px;
					letter-spacing: 4px;
					padding: 0 55px;
				}
			}
		}
	}
}