@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@mixin backSky {
	//배경
	.backSky {
		width: 100%;
		height: 100%;
		background: linear-gradient(to right, #111, #0e0f19);  
		overflow: hidden;

		/* 별을 감싼 부모 */
		.sky {
			width: 100vw;
			height: 100vw;
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			animation: moveStar 240s linear infinite;
			

			.star {
				fill: #fff;
				stroke: none;
				stroke-width: 0;
			}

			/* 별 이동효과 */
			@keyframes moveStar {
				from {
				transform: translate(-50%, -50%) rotate(-20deg)
				}
			
				to {
				transform: translate(-50%, -50%) rotate(20deg)
				}
			}
		}

		// 우주선
		.spaceship {
			position: fixed;
			bottom: -100px;
			left: 850px;
			width: 300px;
		}
	}
}

@mixin project_right {

	padding-left: 30rem;
	width: 100%;
	height: 500px;
	background-color: yellowgreen;
}

@mixin project_left {
	padding-right: 30rem;
	width: 100%;
	height: 500px;
	background-color: blueviolet;

}

@mixin skill_box {

	.skill_box {
		width: 100%;
		display: flex;
		align-items: center;

		.skill {
			padding: 3px 8px;
			border-radius: 9px;
			background-color: #fff;
			color: black;
			margin: 4px 7px 0 0;
			text-transform: uppercase;
		}
	}
}

@mixin title {

	.title_box {
		width: 100%;
		color: #fff;
		font-size: 25px;
		font-weight: 800;
		padding: 18px 0;
	}
}

@mixin main_info {
	.main_info {
		width: 40%;
		padding: 8px 0;
		display: flex;
		flex-direction: column;

		.info {
			font-size: 19px;
			color: #fff;
		}

	}
}

@mixin sub_info {

	.sub_info {
		width: 40%;
		padding: 8px 0;
		display: flex;
		flex-direction: column;

		.Sinfo {
			font-size: 19px;
			color: #fff;
		}
	}
}

@mixin btn_box {
	.main_btn_box {
		width: 40%;
		padding-top: 48px;
		display: flex;

		.btn {
			padding: 8px 26px;
			font-size: 11px;
			font-weight: 600;
			letter-spacing: 1px;
			border: none;
			border-radius: 20px;
			background-color: #fff;
			margin-right: 8px;
			cursor: pointer;
		}
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li, ul , ol {
	list-style: none;
}

#wrap {
	width: 100%;
	height: 6000px;
	background-color: #000;
	position: relative;
	overflow: hidden;

	@include backSky;


	.intro {
		width: 100%;
		height: 1000px;
		position: absolute;
		bottom: 0;
		left: 0;
		overflow: hidden;



		
		h1 {
			text-align: center;
			font-size: 5rem;
			color: #f1f1f1;
			position: absolute;
			left: 50%;
			top: 50%;
			font-family: 'Orbitron', sans-serif;
			font-weight: 300;
			transform: skew(var(--skew)) scale(var(--scale)) translate(-50%, -50%);

			&::before, &::after {
				content: attr(main_text);
				position: absolute;
				width: 100%;
				transition: clip-path 50ms ease-in;
			}

			&::before {
				left: 5px;
				text-shadow: 2px -2px #2a96d4;
				clip-path: polygon(
					0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1));
			}

			&::after {
				left: -5px;
				text-shadow: -2px 2px #cc2a1f;
				clip-path: polygon(
					0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2));
			}
		}

		h3 {
			text-transform: uppercase;
			position: absolute;
			top: 58%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: #fff;
		}

		.earth {
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.section01 {
		width: 100%;
		height: 3000px;
		padding: 8rem 8rem 20rem;
		position: absolute;
		bottom: 1000px;

		.project01 {
			
			margin-top: 150px;
			@include project_right;
			@include skill_box;
			@include title;
			@include main_info;
			@include sub_info;
			@include btn_box;
		}

		.project02 {
			@include project_left;
			@include skill_box;
			@include title;
			@include main_info;
			@include sub_info;
			@include btn_box;
		}
	}
}