@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

li, ul , ol {
	list-style: none;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background: rgba(0, 0, 0, .6);
	z-index: 100;

	nav {

		ul {
			display: flex;
			justify-content: center;

			li {
				margin: 0 20px;
			}
		}
	}
} // header

#fullpage {

	section {

		&:nth-of-type(1) {
			h1 {
				text-align: center;
				font-size: 5rem;
				color: #f1f1f1;
				position: relative;
				font-family: 'Orbitron', sans-serif;
				font-weight: 300;
				transform: skew(var(--skew)) scale(var(--scale));

				&::before, &::after {
					content: attr(main_text);
					position: absolute;
					width: 100%;
					transition: clip-path 50ms ease-in;
					background-color: #000;
				}

				&::before {
					left: 5px;
					text-shadow: 2px -2px #2a96d4;
					clip-path: polygon(
						0 var(--t1), 100% var(--t1), 100% var(--b1), 0 var(--b1)
					);
				}

				&::after {
					left: -5px;
					text-shadow: -2px 2px #cc2a1f;
					clip-path: polygon(
						0 var(--t2), 100% var(--t2), 100% var(--b2), 0 var(--b2)
					);
				}
			}
		}
	}
}